<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center pb-4 pt-3">
                    <i class="fa fa-lock"></i> Login <br><span class="text-primary">Painel do Cliente</span>
                </h1>
                <form (submit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" [(ngModel)]="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" name="password" [(ngModel)]="password" class="form-control" required>
                    </div>
                    <input type="submit" name="Login" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
</div>